<%= form_with(model: financial_transaction, local: true) do |form| %>
  <% if financial_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(financial_transaction.errors.count, "error") %> prohibited this financial_transaction from being saved:</h2>

      <ul>
      <% financial_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :financial_transaction_date %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :financial_transaction_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
